<mat-toolbar color="primary">Gestion des Matériels</mat-toolbar>
<button class="btn" mat-button routerLink="/consumables">
    Consommables
</button>
<button class="btn" mat-button routerLink="/matManager">
    Matériels
</button>
<button class="btn" mat-button routerLink="/vehicules">
    Véhicules
</button>

<div class="container">
    <mat-card>
        <mat-card-title>Ajouter un matériel</mat-card-title>
        <form (ngSubmit)="submitMaterial()" [formGroup]="materialForm">

            <mat-form-field class="full-width">
                <mat-label>Catégorie du matériel</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="outillage">Outillage</mat-option>
                    <mat-option value="sécurité">Sécurité</mat-option>
                    <mat-option value="Autre">Autre</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Nom</mat-label>
                <input
                        [matAutocomplete]="auto"
                        formControlName="name"
                        matInput
                        required
                        type="text"
                />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredNames | async" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Quantité</mat-label>
                <input formControlName="quantity" matInput type="number"/>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Etat du matériel</mat-label>
                <mat-select formControlName="state">
                    <mat-option value="neuf">Neuf</mat-option>
                    <mat-option value="bon">Bon</mat-option>
                    <mat-option value="endommagé">Endommagé</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Dépôt</mat-label>
                <mat-select formControlName="idDep">
                    <mat-option *ngFor="let depot of depots()" [value]="depot.idDep">
                        {{ depot.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput type="text"/>
            </mat-form-field>

            <button [disabled]="materialForm.invalid" color="primary" mat-raised-button type="submit">
                Enregistrer
            </button>
        </form>
    </mat-card>

    <mat-card>
        <mat-card-title>Mouvement de matériel</mat-card-title>
        <form (ngSubmit)="submitMovement()" [formGroup]="movementForm">
            <mat-form-field class="full-width">
                <mat-label>Matériel</mat-label>
                <mat-select formControlName="materialName">
                    <mat-option *ngFor="let m of materials()" [value]="m.name">
                        {{ m.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="entrée">Entrée</mat-option>
                    <mat-option value="modification">Ajustement</mat-option>
                    <mat-option value="sortie">Sortie</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Quantité</mat-label>
                <input formControlName="quantity" matInput type="number"/>
            </mat-form-field>

            <button [disabled]="movementForm.invalid" color="accent" mat-raised-button type="submit">
                Valider Mouvement
            </button>
        </form>
    </mat-card>

    <mat-card>
        <mat-card-title>Liste des matériels</mat-card-title>
        <table [dataSource]="dataSource" class="mat-elevation-z1" mat-table>
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Nom</th>
                <td *matCellDef="let mat" mat-cell>{{ mat.name }}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th *matHeaderCellDef mat-header-cell>Dépôt</th>
                <td *matCellDef="let mat" mat-cell>{{ mat.idDep }}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th *matHeaderCellDef mat-header-cell>Quantité</th>
                <td *matCellDef="let mat" mat-cell>{{ mat.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell>Actions</th>
                <td *matCellDef="let mat" mat-cell>
                    <button (click)="deleteMaterial(mat.idMat)" color="warn" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
        </table>
        <mat-paginator [pageSize]="5"></mat-paginator>
    </mat-card>
</div>
