<mat-card *ngIf="user">
    <mat-card-title>{{ user.prename }} {{ user.name }}</mat-card-title>
    <mat-card-subtitle>📩 {{ user.email }} | 📱 {{ user.phone }}</mat-card-subtitle>
  
    <mat-card-content>
      <p><strong>Numéro de sécurité sociale :</strong> {{ user.numSec }}</p>
      <p><strong>Statut :</strong> {{ user.status }}</p>
      <p *ngIf="user.status === 'auto-entrepreneur'"><strong>SIRET :</strong> {{ user.numSiret }}</p>
      <p><strong>Adresse :</strong> {{ user.address }} {{ user.postaleCode }} {{ user.city }}</p>
      <p><strong>Véhicule :</strong> {{ getVehicule() }}</p>
      <p><strong>Dépôt :</strong> {{ getDepot() }}</p>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button color="primary" (click)="editUser()">✏️ Modifier info</button>
      <button mat-button color="accent" (click)="setAccess()">🔐 Donner accès</button>
    </mat-card-actions>
  </mat-card>
  