<div class="login-container">
    <mat-card class="login-card">
        <h2>Connexion</h2>

        <form (ngSubmit)="submit()" [formGroup]="form">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nom d'utilisateur</mat-label>
                <input autocomplete="username" formControlName="username" matInput/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input autocomplete="current-password" formControlName="password" matInput type="password"/>
            </mat-form-field>

            <button [disabled]="form.invalid" class="full-width" color="primary" mat-raised-button>
                Se connecter
            </button>

            <mat-error *ngIf="loginError" class="error-message">
                {{ loginError }}
            </mat-error>
        </form>
    </mat-card>
</div>
