<mat-sidenav-container *ngIf="isLogged(); else loginPage" class="sidenav-container">
    <!-- 🧭 Barre latérale (optionnelle) -->
    <mat-sidenav class="sidenav" mode="side" opened>
        <mat-toolbar>MENU</mat-toolbar>
        <mat-nav-list>
            <a *ngIf="isLogged()" mat-list-item routerLink="/admin-dashboard">Dashboard</a>
            <a *ngIf="isLogged()" mat-list-item routerLink="/users">Utilisateurs</a>
            <a *ngIf="isLogged()" mat-list-item routerLink="/vehicules">Véhicules</a>
            <a *ngIf="isLogged()" mat-list-item routerLink="/materials">Matériels</a>
            <a *ngIf="isLogged()" mat-list-item routerLink="/consumables">Consommables</a>
            <a *ngIf="isLogged()" mat-list-item routerLink="/list-depot">Dépôts</a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- 🧱 Contenu principal -->
    <mat-sidenav-content>
        <mat-toolbar color="dark-toolbar">
            <span>FX Network</span>
            <span class="spacer"></span>
            <button (click)="authService.logout()" *ngIf="isLogged()" mat-button>Se déconnecter</button>
        </mat-toolbar>

        <!-- 🌐 Contenu routé -->
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- 📦 Appel global du loader -->
<app-loader></app-loader>

<!-- 🔐 Affichage si l'utilisateur n'est pas connecté -->
<ng-template #loginPage>
    <router-outlet></router-outlet>
</ng-template>
