<mat-sidenav-container class="sidenav-container" *ngIf="isLogged(); else loginPage">
    <!-- 🧭 Barre latérale (optionnelle) -->
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar>MENU</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin-dashboard" *ngIf="isLogged()">Dashboard</a>
            <a mat-list-item routerLink="/users" *ngIf="isLogged()">Utilisateurs</a>
            <a mat-list-item routerLink="/vehicules" *ngIf="isLogged()">Véhicules</a>
            <a mat-list-item routerLink="/materials" *ngIf="isLogged()">Matériels</a>
            <a mat-list-item routerLink="/consumables" *ngIf="isLogged()">Consommables</a>
            <a mat-list-item routerLink="/list-depot" *ngIf="isLogged()">Dépôts</a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- 🧱 Contenu principal -->
    <mat-sidenav-content>
        <mat-toolbar color="dark-toolbar">
            <span>FX Network</span>
            <span class="spacer"></span>
            <button mat-button *ngIf="isLogged()" (click)="authService.logout()">Se déconnecter</button>
        </mat-toolbar>

        <!-- 🌐 Contenu routé -->
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- 📦 Appel global du loader -->
<app-loader></app-loader>

<!-- 🔐 Affichage si l'utilisateur n'est pas connecté -->
<ng-template #loginPage>
    <router-outlet></router-outlet>
</ng-template>
