<mat-toolbar color="primary">
  <span>ERP Stock</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Dashboard</a>
  <a mat-button routerLink="/list-depot">Dépôts</a>
  <a mat-button routerLink="/users">Users</a>

  <!-- Menu déroulant pour Matériels -->
  <button mat-button [matMenuTriggerFor]="materialMenu">Matériels</button>
  <mat-menu #materialMenu="matMenu">
    <button mat-menu-item routerLink="/consumables">Consommables</button>
    <button mat-menu-item routerLink="/matManager">Matériels / Outils</button>
    <button mat-menu-item routerLink="/vehicules">Véhicules</button>
  </mat-menu>
</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>
