<!-- depot-manager.component/html-->
<h2>Gestion des attributions</h2>
<h4 *ngIf="depot as d">{{ d.name }} </h4>

<div *ngIf="resources">
    <h3>Consommables</h3>
    <ul *ngIf="resources">
        <li *ngFor="let c of depotConsumables">{{ c.name }} = {{ c.quantity }}</li>
    </ul>

    <h3>Matériels</h3>
    <ul *ngIf="resources">
        <li *ngFor="let m of depotMaterials">{{ m.name }} = {{ m.quantity }}</li>
    </ul>

    <h3>Véhicules</h3>
    <ul *ngIf="resources">
        <li *ngFor="let v of depotVehicules">{{ v.brand }} {{ v.model }}
            - {{ v.registrationPlate.trim().toLocaleUpperCase() }}  {{ v.idTec }}
        </li>
    </ul>
</div>

<ng-container *ngIf="resources() as r">
    <table [dataSource]="depotTechnicians" mat-table>

        <!-- Nom -->
        <ng-container matColumnDef="nom">
            <th *matHeaderCellDef mat-header-cell>Technicien</th>
            <td *matCellDef="let tech" mat-cell>{{ tech.name }} {{ tech.prename }}</td>
        </ng-container>

        <!-- Véhicule -->
        <ng-container matColumnDef="vehicule">
            <th *matHeaderCellDef mat-header-cell>Véhicule</th>
            <td *matCellDef="let tech" mat-cell>
                {{ getVehicule(tech.idTec)?.brand || 'Aucun' }}
            </td>
        </ng-container>

        <!-- Matériels -->
        <ng-container matColumnDef="materiels">
            <th *matHeaderCellDef mat-header-cell>Matériel</th>
            <td *matCellDef="let tech" mat-cell>
                {{ getMaterialQuantity(tech.idTec) }} unité(s)
            </td>

        </ng-container>

        <!-- Consommables -->
        <ng-container matColumnDef="consommables">
            <th *matHeaderCellDef mat-header-cell>Consommables</th>
            <td *matCellDef="let tech" mat-cell>
                {{ getConsumables(tech.idTec).length }} attribué(s)
            </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>Actions</th>
            <td *matCellDef="let tech" mat-cell>
                <button (click)="openAttributionDialog(tech)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="['nom','vehicule','materiels','consommables','actions']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['nom','vehicule','materiels','consommables','actions'];" mat-row></tr>
    </table>
</ng-container>



