<mat-toolbar color="accent">Matériels du dépôt n°{{ depotId }}</mat-toolbar>

<mat-card class="m-4">
  <mat-card-title>Liste des matériels</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="materials()" class="mat-elevation-z8 w-full">

      <!-- Nom -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let mat">{{ mat.name }}</td>
      </ng-container>

      <!-- Catégorie -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Catégorie</th>
        <td mat-cell *matCellDef="let mat">{{ mat.category }}</td>
      </ng-container>

      <!-- Quantité -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantité</th>
        <td mat-cell *matCellDef="let mat">{{ mat.quantity }}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let material">
          <button mat-icon-button color="primary" routerLink="/depots/{{ depotId }}/materials/{{ material.idMat }}/add">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
