<mat-toolbar color="accent">Matériel du dépôt n°{{ depotId }}</mat-toolbar>
<mat-card class="m-4">
    <mat-card>
        <mat-card-title>Modifier Matériel</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="submitEdit()" [formGroup]="editForm">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Nom</mat-label>
                    <input formControlName="name" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Quantité</mat-label>
                    <input formControlName="quantity" matInput type="number">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Catégorie</mat-label>
                    <input formControlName="category" matInput>
                </mat-form-field>

                <div class="flex gap-4 mt-2">
                    <button color="primary" mat-raised-button type="submit">Mettre à jour</button>
                    <button (click)="cancelEdit()" mat-stroked-button type="button">Annuler</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</mat-card>
