<div class="table-container">
    <div class="toolbar">
        <input (keyup)="applyFilter($event)" matInput placeholder="🔍 Rechercher un matériel"/>
    </div>

    <button color="primary" mat-raised-button routerLink="/materials/add">
        <mat-icon>add</mat-icon>
        Ajouter un matériel
    </button>

    <form [formGroup]="filterForm" class="flex gap-4 mb-4 flex-wrap">
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName="name" matInput placeholder="Recherche par nom"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Catégorie</mat-label>
            <mat-select formControlName="category">
                <mat-option value="">Toutes</mat-option>
                <mat-option value="véhicule">Véhicule</mat-option>
                <mat-option value="outillage">Outillage</mat-option>
                <mat-option value="sécurité">Sécurité</mat-option>
                <!-- Ajoute d'autres catégories si besoin -->
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>État</mat-label>
            <mat-select formControlName="condition">
                <mat-option value="">Tous</mat-option>
                <mat-option value="neuf">Neuf</mat-option>
                <mat-option value="bon">Bon</mat-option>
                <mat-option value="endommagé">Endommagé</mat-option>
                <mat-option value="en réparation">En réparation</mat-option>
            </mat-select>
        </mat-form-field>
    </form>


    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="serialNumber">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>N° Série</th>
            <td *matCellDef="let element" mat-cell>{{ element.serialNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Catégorie</th>
            <td *matCellDef="let element" mat-cell>{{ element.category }}</td>
        </ng-container>

        <ng-container matColumnDef="condition">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>État</th>
            <td *matCellDef="let element" mat-cell>{{ element.condition }}</td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Affecté à</th>
            <td *matCellDef="let element" mat-cell>{{ element.assignedTo?.name || 'Non assigné' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>Actions</th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="editMaterial(element)" color="primary" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="confirmDelete(element._id)" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
</div>
