<mat-card class="mb-4">
    <mat-card-title>Gestion des matériels</mat-card-title>
    <mat-card-content>
        <p>Attribuez ou reprenez des matériels aux techniciens.</p>
    </mat-card-content>
</mat-card>
<mat-toolbar color="primary">{{ selectedDepotName() }}</mat-toolbar>
<mat-card>
    <form [formGroup]="form" class="p-4" type="submit">
        <mat-form-field class="w-full">
            <mat-label>Technicien</mat-label>
            <mat-select formControlName="technicianId">
                <mat-option *ngFor="let user of users()" [value]="user.idUser">{{ user.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Matériel</mat-label>
            <mat-select formControlName="materialId">
                <mat-option *ngFor="let mat of materials()" [value]="mat.idMat">{{ mat.name }} ({{ mat.quantity }})
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Quantité</mat-label>
            <input formControlName="quantity" matInput type="number"/>
        </mat-form-field>

        <div class="flex gap-2">
            <button (click)="submit('attribution')" color="primary" mat-raised-button>Attribuer</button>
            <button (click)="submit('reprise')" color="warn" mat-raised-button>Reprendre</button>
        </div>
    </form>
</mat-card>
