<h2 mat-dialog-title>Confirmer la suppression</h2>
<mat-dialog-content>
    <p>Entrez votre mot de passe pour confirmer la suppression.</p>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" matInput type="password"/>
        </mat-form-field>
        <div class="text-danger">{{ error }}</div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button (click)="dialogRef.close()" mat-button>Annuler</button>
    <button (click)="confirm()" color="warn" mat-flat-button>Supprimer</button>
</mat-dialog-actions>
